<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transactions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
<body>
    {% include 'navbar.html' %}

    <div class="container">
        <h1>Latest Transactions</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Movie ID</th>
                <th>Movie Title</th>
                <th>User Name</th>
                <th>Type</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Pay Method</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.ID }}</td>
                <td>{{ transaction.movieID }}</td>
                <td><a href="/movie/{{ transaction.movieID }}">{{ transaction.Movie }}</a></td>
                <td>{{ transaction.Customer}}</td>
                <td>{{ transaction.Type }}</td>
                <td>{{ transaction.Date }}</td>
                <td>{{ transaction.Amount }}</td>
                <td>{{ transaction.Pay_Method }}</td>
            </tr>
            {%  endfor %}
        </table>
    </div>

</body>
</html>